:root {
    --font-color: #DCDCDC !important;
    --standard-font: "Faculty Glyphic"
}

nav {
    background: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(5px) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.nav-link {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #f8d210 !important;
    border-bottom: 2px solid #f8d210;
    transition: all 0.3s ease-in-out;
}

#hero {
    background-image: url(Images/Untitled\ design\ \(5\).png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #DCDCDC !important;
    text-shadow: 2px 2px 4px #000000;
}

#headShot {
    max-width: 540px;
    box-shadow: 0 4px 20px 0 rgb(0, 0, 0) !important;
}

#about {
    font-family: var(--standard-font) !important;
}

.beginner {
    background-color: #ff0000;
}
